# ignore everything
*

# always keep this
!.gitignore

# --- analysis root ---
!analysis/

# --- specific files ---
!analysis/bin2cell_nuclei.py
!analysis/pipeline.smk
!analysis/STP.py

# --- environments ---
!analysis/envs/
!analysis/envs/**

# --- figures ---
!analysis/figures/
!analysis/figures/*.ipynb