# ignore everything
*

# always keep this
!.gitignore
!README.md

# --- analysis root ---
!analysis/

# --- specific files ---
!analysis/bin2cell_nuclei.py
!analysis/pipeline.smk
!analysis/STP.py

# --- environments ---
!analysis/envs/
!analysis/envs/**

# --- figures ---
!analysis/figures/
!analysis/figures/*.ipynb

# --- pathologist rankings ---
!data/
!data/patholog_rankings
!data/patholog_rankings/*
!data/get.sh

# --- final figures ---
!doc
!doc/Figure*.pdf
!doc/resource_usage.pdf